<app-header></app-header>
@for(person of persons; track $index;let e = $even, index = $index){
    @if(e){
        <div style="background-color: aquamarine">{{person | personPrefix:false}} with index {{index}}</div>
    }@else {
        <div>{{person | personPrefix:true}}</div>
    }
}
<button>
    Letter Animation
</button>
<br><br><br>
<button [yellow]="true">
    Letter Animation
</button>
<br><br><br>
<button disableIsActive>
    Letter Animation
</button>

<br><br><br>
<output #outputElement (addedClick)="handleEventOutput($event, outputElement)"></output>
<hashtag></hashtag>

<signal><h1>Hier ist der ng-content den ich durch einen einfachen tag in die component "signal" projeziere</h1></signal>

<app-footer></app-footer>