<app-header></app-header>
@for(person of persons; track $index){
    @if($index % 2 !== 0){
        <div>{{person | personPrefix:false}}</div>
    }@else {
        <div>{{person | personPrefix:true}}</div>
    }
}
<button>
    Letter Animation
</button>
<br><br><br>
<button [yellow]="true">
    Letter Animation
</button>
<br><br><br>
<button disableIsActive>
    Letter Animation
</button>

<br><br><br>
<app-output #outputElement (addedClick)="handleEventOutput($event, outputElement)"></app-output>
<app-hashtag-syntax></app-hashtag-syntax>

<app-footer></app-footer>