:host {
    min-height: calc(100vh - 228px);
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #09212A 0%, #103645 50%, #09212A 100%);
}

button{
    height: fit-content!important;
}

.blue-bg{
    background-color: rgb(29, 16, 208);
}

.yellow-bg{
    background-color: yellow;
    color: #09212A;
}